Package: com.zjx.appdelegate
Name: ZXTouch-appdelegate
Version: 0.0.1
Architecture: iphoneos-arm
Description: A component of zxtouch inside apps that works for zxtouch
Maintainer: Jason Z
Author: Jason Z
Section: Tweaks
